body {
  background-color: #333;
  font-family: "HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif";
  padding: 0;
  margin: 0;
}

#container {
  margin: 0 auto;
  position: relative;
  width: 1000px;
}

#image {
  width: 896px;
  height: 896px;
  background-image: url('../images/daftpunkocat-thomas.png');
  position: absolute;
  left: 52px;
}

#canvas {
  width: 528px;
  height: 163px;
  position: absolute;
  top: 330;
  left: 239px;
  background-color: #333;
}

#info {
  margin: 0 auto;
  padding: 5px;
  background-color: #555;
  border: 2px solid #222;
  height: 20px;
  width: 100%;
}

#credits { float: left; }
#links { float: right; }

#loading {
  background-color: #111;
  opacity: 0.7;
  height: 100%;
  width: 100%;
}

#loading-image {
  background: url('../images/ajax-loader.gif') no-repeat;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  top: 200px;
  position: relative;
}

#not-supported {
  width: 500px;
  height: 200px;
  background-color: #eee;
  z-index: 99;
  left: 250px;
  top: 40px;
  position: absolute;
  display: none;
}

#not-supported span {
  display: block;
  width: 444px;
  margin: 0 auto;
}

#not-supported #logos {
  width: 444px;
  margin: 0 auto;
}
#not-supported img {
  width: 128px;
  height: 128px;
  margin: 0 9px;
  float: left;
}

a {
  color: #333;
}
